
<table class="table">
<thead>
<tr>
<th>total products</th>
<th>total catagories</th>
</tr>
</thead>
<tbody>
<tr>
<td><%= @products_num %></td>
<td><%= @catagory_num %></td>
</tr>
</tbody>
</table>
<%= link_to 'products', :root %>